.heading {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .blog-heading {
    font-size: 22px;
    opacity: 0.7;
  }
  
  .tag-line {
    font-size: 40px;
    color: purple;
  }
  
  .blog-post-list {
    display: grid;
    grid-template-columns:repeat(2, 1fr); /* Update grid to have 2 columns */
    gap: 50px;
    padding: 0 100px;
    padding-bottom: 40px;
  }

  .pagination {
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 20px 100px;


    .page {
      background-color: transparent;
      color: purple;
      border: none;
      padding: 8px;
      border-radius: 7px;

      &:hover{
        background-color: purple;
        color: white;
      }
    }
  }
  
  /* Styles for the BlogCard component can be included here */
  